*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: ProximaNova, Arial, Verdana, sans-serif;
	overflow-x: hidden;
	background-color: rgb(246, 221, 181);
}

.hidden {
	display: none;
}

.border {
	border: 1px solid red;
}

/* popup */

.mfp-bg {
	background-color: rgba(134, 188, 48, 0.3);
	/* opacity: 0.3; */
}

#formPopup input:required:invalid {
	border: 1px solid red;
}
/* =========================================== */
/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
	/* start state */
	/* animate in */
	/* animate out */
  }
  .mfp-zoom-in .mfp-with-anim {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
  }
  .mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
  }
  .mfp-zoom-in.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: scale(1);
  }
  .mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
  }
  .mfp-zoom-in.mfp-removing .mfp-with-anim {
	transform: scale(0.8);
	opacity: 0;
  }
  .mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
  }

  

  

/* ================================================ */
.linkFormPupop {
	position: fixed;
	right: 0px;
	top: calc(50% - 70px);
	max-width: 148px;
	height: 28px;
	height: 46px;
	background-color: rgb(134, 188, 48);
	color: #fff;
	border-radius: 10px 0 0 10px;
	opacity: 0.8;
	font-family: ProximaNova, Arial, Verdana, sans-serif;
	text-align: center;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
	z-index: 100;
	display: flex;
	align-items: center;
}

.linkFormPupop ul {
	margin: 0;
	padding: 0 0 0 20px;
	/* padding: 0; */
	position: relative;
}

.linkFormPupop ul>div.linkFormPupop_close {
	position: absolute;
	left: 7px;
	top: -13px;
	color: grey;
	cursor: pointer;
	z-index: 100;
}

.linkFormPupop ul>div.linkFormPupop_close:hover {
	color: red;
}

.linkFormPupop li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.linkFormPupop a {
	display: block;
	width: 100%;
	height: 100%;
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	padding-left: 3px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.linkFormPupop a:hover {
	right: 0;
	background-color: rgb(24, 179, 63);
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 30px 20px 20px;
	width: auto;
	max-width: 500px;
	height: 300px;
	margin: 20px auto;
	border: 2px solid rgb(134, 188, 48);
}

.formPopup_arrow {
	position: relative;
	color: #fff;
	background-color: rgb(134, 188, 48);
	width: 30%;
	padding: 7px 0 7px 10px;
	margin-left: -22px;
}

.formPopup_arrow:after {
	position: absolute;
	right: -40px;
	top: 0;
	content: "";
	border: 20px solid transparent;
	border-left: 20px solid rgb(134, 188, 48);
}

.formPupop-wraper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.formPopup-label {
	cursor: pointer;
}

.formPopup-label>h4 {
	text-align: center;
}

.formPopup-label__inputs {
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	align-items: center;
}

.formPopup-label__input-wraper {
	width: 90%;
	display: flex;
	justify-content: space-around;
}


/* // кнопки перехода */

.formPopup-link {
	border-radius: 3px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
}

.formPopup-link__item {
	width: 40%;
	height: 100%;
	text-align: center;
}

.formPopup-link button {
	background-color: rgb(134, 188, 48);
	border: 1px solid rgb(24, 179, 63);
	border-radius: 3px;
	display: block;
	color: #fff;
	text-decoration: none;
	height: 100%;
	padding: 8px 12px 8px 12px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
	font-size: 16px;
}

.formPopup-link button:hover {
	background-color: rgb(24, 179, 63);
	border: 1px solid rgb(134, 188, 48);
	opacity: 0.8;
	border-radius: 3px;
	/* padding-left: 16px;
	padding-right: 16px; */

}
.formPopup-link button:disabled {
	background-color: rgb(24, 179, 63);
	border: 1px solid rgb(24, 179, 63);
	opacity: 0.8;
	/* padding-left: 16px;
	padding-right: 16px; */
	color: #666;

}

.formPopup-link__item--back a:hover {
	padding-right: 12px;
}


/* end кнопка перехода */


/* third window  */

.formPopup-button button {
	width: 100%;
	padding: 6px 0;
	color: #fff;
	outline: none;
	cursor: pointer;
	text-transform: uppercase;
	background-color: rgb(134, 188, 48);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.formPopup-button button:hover {
	background-color: rgb(24, 179, 63);
}

.formPopup-label__inputs--third {
	margin-bottom: 20px;
}

.formPopup-label__input-item--third {
	width: 100%;
}

.formPopup-label__input-item--third input {
	width: 98%;
	padding: 6px 0;
	font-size: 16px;
	border-radius: 3px;
}


/* запрет появления формы на экранах меньше 520 */

@media only screen and (max-width: 520px) {
	.linkFormPupop {
		display: none;
	}
}